{% import "_macros.html" as m %}
<h2>{{ _("All songs") }}</h2>
<ul>
    {% for song in all_songs.instances %}
        <li><a href="{{ url_for_view("listen", instance_uuid=song.uuid) }}">{{ m.render_field(song.title) }}</a></li>
    {% endfor %}
</ul>