{% import "_macros.html" as macros %}
<h2>{{ render_element(model=song_model, instance=song, field="title", input_classes="form-control-lg", submit_classes="btn-lg")|safe }}</h2>
<a href="{{ url_for_view('run', instance_uuid=song.uuid) }}"><h4>{{ _("Run with") }} {{ song.title }}</h4></a>
<div><strong>{{ _("Play through") }}</strong>{{ macros.render_element(song_model, song, "default_start_end") }}</div>
<div><strong>{{ _("Duration:") }} </strong>{{ macros.render_element(song_model, song, "duration") }}</div>
<div>{{ macros.render_element(song_model, song, "audio_file") }}</div>

{{ render_form(model=label_model, fields=["key", "value"])|safe }}

{% for label in song_labels %}
    <li>
        {{ render_element(model=label_model, instance=label, field="key", wrapping_element="span")|safe }} -
        {{ render_element(model=label_model, instance=label, field="value", wrapping_element="span")|safe }}
    </li>
{% endfor %}