{% import "_macros.html" as m %}
<h2>{{ m.render_field(Song_instance.title) }}</h2>
<a href="{{ url_for_view('run', instance_uuid=Song_instance.uuid) }}"><h4>{{ _("Run with") }} {{ m.render_field(Song_instance.title) }}</h4></a>
<div>
    <strong>{{ _("Play through") }}</strong>{{ m.render_field(Song_instance.default_start_end) }}
</div>
<div><strong>{{ _("Duration:") }} </strong>{{ m.render_field(Song_instance.duration) }}</div>
<div>{{ m.render_field(Song_instance.audio_file) }}</div>

{% for label in song_labels %}
    <li>
        {{ m.render_field(label.key) }} -
        {{ m.render_field(label.value) }}
    </li>
{% endfor %}