{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
    <h2>All songs</h2>
    <ul>
        {% for song in all_songs %}
            <li><a href="{{ url_for('client.listen', song_id=song.id) }}">{{ song.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}
{% endblock %}