{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
{% if label_keys %}
    <ul>
    {% for key in label_keys %}
        <li><a href="{{ url_for('client.labels', k=key) }}">{{ key }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if label_values %}
    <h2>{{ label_key }}</h2>
    <ul>
    {% for value in label_values %}
        <li><a href="{{ url_for('client.labels', k=label_key, v=value) }}">{{ value }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if all_songs %}
    <h2>{{ label_key }}: {{ label_value }}</h2>
    <a href="{{ url_for('client.edit_label_key_value', k=label_key, v=label_value) }}">Search exact</a> |
    <a href="{{ url_for('client.search_label_key_value', k=label_key, q=label_value) }}">Search approx.</a>
    <ul>
    {% for song in all_songs %}
        <li><a href="{{ url_for('client.listen', song_id=song.id) }}">{{ song.title }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}

{% block script %}
{% endblock %}