<h2>Labels:</h2>

<form action="{{ url_for('client.search_label_key_value') }}" method="get">
    <input type="text" name="k" value="{{ k }}"/>
    <input type="text" name="q" value="{{ q }}"/>
    <button type=submit>Search approx.</button>
</form>

<a href="{{ url_for('client.edit_label_key_value', k=k, v=q) }}">Search exact</a>

<hr>

<form action="{{ url_for('client.search_label_key_value') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="text" name="k" value="{{ k }}" disabled/>
    <input type="text" name="q" value="{{ q }}" disabled/>
    <input type="text" name="nv" value="" placeholder="new value"/>
    <button type=submit>Edit all</button>
</form>
{% if label_results %}
    {% for label_name, meta in label_results.items() %}
        <li><input type="checkbox" checked="checked" name="update-labels" value="meta.value"><a
                href="{{ url_for('client.labels', k=meta.key, v=meta.value) }}">{{ label_name }}: {{ meta.count }}</li>
    {% endfor %}
{% endif %}
