<a href="{{ url_for('client.index') }}">Home</a>
| Search LastFM:
<form action="{{ url_for('client.last_fm_search') }}" method="get">
<input type="text" name="q" value="{{ q }}" style="width: 50%;" />
<input type="hidden" name="song_id" value="{{ request.args.get('song_id') }}" />
<button type=submit>Search</button>
</form>

<ol>
{% for track_result in track_results %}
  <li><a href="{{ url_for('client.last_fm_track', q=q, res=loop.index0) }}">{{ track_result.artist }} - {{ track_result.name }} {% if track_result.album %}[{{ track_result.album.title }}]{% endif %}</a></li>
{% endfor %}
</ol>

