<a href="{{ url_for('client.index') }}">Home</a>
| Search LastFM:
<form action="{{ url_for('client.last_fm_track') }}" method="get">
<input type="text" name="q" value="{{ q }}" style="width: 50%;" />
<input type="hidden" name="song_id" value="{{ request.args.get('song_id') }}" />
<input type="text" name="res" value="{{ res }}" />
<button type=submit>Search</button>
</form>

{{ track_meta }}

