{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
    <h2>{{ song.title }}</h2>
    <a href="{{ url_for('client.get_run', song_id=song.id) }}"><h3>Metronome</h3></a>
    <button onclick="toggle('edit-song')">edit</button>
    <div id="edit-song" style="display: none">
        <form action="{{ url_for('client.edit_song', song_id=song.id) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="text" name="title" value="{{ song.title }}" style="width: 100%;"/><br>
            <input type="text" name="indexing_title"
                   value="{% if song.indexing_title %}{{ song.indexing_title }}{% endif %}" style="width: 100%;"/><br>
            <input name="default_start" type="number" value="{{ media_st }}" min="0" max="{{ media_length }}"
                   style="font-size: 1.5em;">
            <input name="default_end" type="number" value="{{ media_et }}" min="0" max="{{ media_length }}"
                   style="font-size: 1.5em;">
            <input type="submit"/>
        </form>
        <hr>
        <a href="{{ url_for('client.last_fm_search', song_id=song.id, q=song.title) }}">Search on Last fm</a>
        <hr>
        <a href="{{ url_for('client.delete_song', song_id=song.id) }}" style="color:red; float: right;">DELETE</a><br>
        <hr style="clear:both;">
    </div>
    <br>

    <button id="audio-btn-from-start">From start</button>
    <input id="audio-start" type="number" value="{{ media_st }}" min="0" max="{{ media_length }}"
           style="font-size: 2em;">
    <input id="audio-end" type="number" value="{{ media_et }}" min="0" max="{{ media_length }}" style="font-size: 2em;">
    <button id="audio-btn-til-end">Till end</button>
    <input type="checkbox" id="should-loop" {% if request.args.get('loop') %}checked="checked"{% endif %}> Loop
    <br>

    <audio controls autoplay preload="auto" style="width: 100%" id='audio'>
        <source src="{{ url_for('client.get_media', filepath=media_fname) }}" type="audio/mpeg">
    </audio>

    <h3>Indexing labels</h3>
    <ul>
        {% for label in song.indexed_labels %}
            {% include "_tpl_label.html" %}
        {% endfor %}
    </ul>

    <h3>Non-indexing labels</h3>
    <ul>
        {% for label in song.non_indexed_labels %}
            {% include "_tpl_label.html" %}
        {% endfor %}
    </ul>

    Add label:
    <form action="{{ url_for('client.add_label_to_song', song_id=song.id) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" name="key"/>
        <input type="text" name="value"/>
        <input type="checkbox" name="indexing" checked=checked/> indexing?
        <input type="submit"/>
    </form>

    {% if song_duplicates %}
        <h2>Duplicates</h2>
        <ul>
            {% for other_song in song_duplicates %}
                <li><a href="{{ url_for('client.listen', song_id=other_song.id) }}">{{ other_song.title }}</a> |
                    [<a href="{{ url_for('client.delete_song', song_id=other_song.id) }}">delete</a>]
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Recommendations</h2>
    <ul>
        {% for other_song in song_recomendations %}
            <li><a href="{{ url_for('client.listen', song_id=other_song.song_id) }}"
                   id="recommendation-idx-{{ loop.index }}">{{ other_song.title }}</a><br>
                <small>score: {{ other_song.score }} | last_played: {{ other_song.last_played }} | reasons:
                    {% for reason, score in other_song.reasons.items() %}{{ reason }}:
                        {{ score }}{% if not loop.last %}, {% endif %}{% endfor %}</small>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block script %}
    <script>
        function updateURLParameter(url, param, paramVal) {
            var newAdditionalURL = "";
            var tempArray = url.split("?");
            var baseURL = tempArray[0];
            var additionalURL = tempArray[1];
            var temp = "";
            if (additionalURL) {
                tempArray = additionalURL.split("&");
                for (var i = 0; i < tempArray.length; i++) {
                    if (tempArray[i].split('=')[0] != param) {
                        newAdditionalURL += temp + tempArray[i];
                        temp = "&";
                    }
                }
            }

            var rows_txt = temp + "" + param + "=" + paramVal;
            return baseURL + "?" + newAdditionalURL + rows_txt;
        }


        var audioEl = document.getElementById('audio');
        var audioStartEl = document.getElementById('audio-start');
        var audioStartTime = audioStartEl.value;
        var audioEndEl = document.getElementById('audio-end');
        var audioEndTime = audioEndEl.value;

        function updateStart(val) {
            audioStartEl.value = val;
            audioStartTime = val;
            window.history.replaceState('', '', updateURLParameter(window.location.href, "s", audioStartTime));
        }

        function updateEnd(val) {
            audioEndEl.value = val;
            audioEndTime = val;
            window.history.replaceState('', '', updateURLParameter(window.location.href, "e", audioEndTime));
        }

        audioEl.addEventListener('canplaythrough', function () {
            if (this.currentTime < audioStartTime) {
                this.currentTime = audioStartTime;
            }
            if (this.currentTime > audioEndTime) {
                this.currentTime = audioStartTime;
            }

            this.play();
        });

        var shouldLoop = $('#should-loop').prop("checked");
        $('#should-loop').change(function () {
            shouldLoop = $('#should-loop').prop("checked");
        })
        var redirected = false;
        audioEl.addEventListener('timeupdate', function () {
            console.log("update");
            if (this.currentTime < audioStartTime) {
                this.currentTime = audioStartTime;
            }
            if (this.currentTime > audioEndTime - 1) {
                console.log(audioEndTime - this.currentTime);
                if (shouldLoop) {
                    this.currentTime = audioStartTime;
                } else {
                    if (!redirected) {
                        var recEl = $('#recommendation-idx-1');
                        if (recEl) {
                            var nextAddress = recEl.attr('href');
                            console.log(nextAddress);
                            redirected = true;
                            window.location.href = window.location.origin + nextAddress;

                        }
                    }
                }
            }
        });

        audioStartEl.addEventListener('change', function () {
            updateStart(audioStartEl.value);
        });

        audioEndEl.addEventListener('change', function () {
            updateEnd(audioEndEl.value)
        });

        var fromStartBtnEl = document.getElementById('audio-btn-from-start');
        var tilEndBtnEl = document.getElementById('audio-btn-til-end');


        fromStartBtnEl.addEventListener('click', function () {
            updateStart(0);
        });

        fromStartBtnEl.addEventListener('click', function () {
            updateEnd({{ media_length }});
        });


        function toggle(elId) {
            var x = document.getElementById(elId);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        $('#recommendation-idx-1');
    </script>
{% endblock %}

