{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
    {% if download_youtube_video %}
        <a href="{{ url_for('client.download', q=download_youtube_video) }}"><h2>Download youtube song</h2></a>
    {% endif %}

    {% if youtube_songs %}
        <h2>Youtube Songs:</h2>
        {% for song in youtube_songs %}
            <li><a href="{{ url_for('client.listen', song_id=song.id) }}">{{ song.title }}</a></li>
        {% endfor %}
    {% endif %}

    {% if songs %}
        <h2>Songs:</h2>
        {% for song in songs %}
            <li><a href="{{ url_for('client.listen', song_id=song.id) }}">{{ song.title }}</a></li>
        {% endfor %}
    {% endif %}

    {% if label_results %}
        <h2>Labels:</h2>
        {% for label_name, songs in label_results.items() %}
            <h3>{{ label_name }}</h3>
            {% for song in songs %}
                <li><a href="{{ url_for('client.listen', song_id=song.id) }}">{{ song.title }}</a></li>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block script %}
{% endblock %}