{% import "_macros.html" as m %}
<a href="{{ url_for_view("all_songs") }}"><h2>{{ _("All songs") }}</h2></a>

{{ m.render_form_header('start_task', 'download_youtube_song', None)  }}
    <div class="form-group">
        <input type="hidden" name="listen_url" value="{{ url_for_view('listen') }}"/>
        <label for="input-video-url">{{ _('Youtube URL') }}</label>
        <input type="text" name="video_url" class="form-control" id="input-video-url" placeholder="{{ _('Enter Youtube URL') }}">
    </div>
    {{ m.render_submit_btn() }}
</form>

<h2>{{ _("Labels") }}</h2>
<ul>
    {% for key in label_keys %}
        <li><a href="{{ url_for_view("all_songs") }}">{{ key }}</a></li>
    {% endfor %}
</ul>