{% import "_macros.html" as m %}
<div class="row">
    {{ m.render_form_header('create', word_model.name) }}
        <div class="mb-2">{{ m.render_edit_field(word_model.fields.en) }}</div>
        <div class="mb-2">{{ m.render_edit_field(word_model.fields.de) }}</div>
        <div class="mb-2">{{ m.render_submit_btn() }}</div>
     {{ m.render_form_footer() }}
</div>
