{% import "_macros.html" as m %}

{% macro get_or_create_sound(lang, instance) %}
    {% set sound = instance[lang + '_sound'] %}
    {% if sound.value %}
        {{ m.render_field(sound) }}
    {% else %}
        {{ m.render_form_header('start_task', 'get_tts', None) }}
        <input type="hidden" name="lang" value="{{ lang }}"/>
        <input type="hidden" name="text" value="{{ instance[lang].value }}"/>
        <input type="hidden" name="instance_uuid" value="{{ instance.uuid }}"/>
        <input type="hidden" name="learn_url" value="{{ url_for_view('learn') }}"/>
        {{ m.render_submit_btn(label=_("Get")) }}
        {{ m.render_form_footer() }}
    {% endif %}
{% endmacro %}

<div class="row">
    <table data-toggle="table">
        <tr>
            <th>{{ _('English') }}</th>
            <th>{{ _('English sound') }}</th>
            <th>{{ _('German') }}</th>
            <th>{{ _('German sound') }}</th>
        </tr>
        {% for instance in word_instances %}
            <tr>
                <td>{{ m.render_field(instance['en']) }}</td>
                <td>{{ get_or_create_sound('en', instance) }}</td>
                <td>{{ m.render_field(instance['de']) }}</td>
                <td>{{ get_or_create_sound('de', instance) }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
