<style>
    .metronome {
        background: #CCC;
        width: 30px;
        height: 30px;
        display: inline-block;
    }

    .metronome.flash-red {
        background: #900;
        box-shadow: 0 0 15px #900;
    }

    .metronome.flash-blue {
        background: #009;
        box-shadow: 0 0 15px #009;
    }

    @keyframes flashing {
        from {
            background: #900;
        }
        to {
            background: #CCC;
        }
    }
</style>
{% import "_macros.html" as m %}
<a href="{{ url_for_view('listen', instance_uuid=Song_instance.uuid) }}"><h2>{{ m.render_field(Song_instance.title) }}</h2></a>
{% raw %}
<div id="audio-component">
    <div class="row no-gutters">
        <div class="col-3">
            <button class="btn btn-info btn-block btn-lg" v-on:click="replayAudio"><i class="fas fa-undo"></i>
            </button>
        </div>
        <div class="col-9">
            <button class="btn btn-primary btn-block btn-lg" v-on:click="playPauseAudio"><i
                    v-bind:class="computePlayButton"></i></button>
        </div>
    </div>
    <br>
    <div class="row no-gutters">
        <div class="col-2">
            <button class="btn btn-danger btn-block btn-lg" v-on:click="decreaseRunningSpeed(1)"><i
                    class="fas fa-minus"></i> 1
            </button>
        </div>
        <div class="col-2">
            <button class="btn btn-danger btn-block btn-lg" v-on:click="decreaseRunningSpeed(0.1)"><i
                    class="fas fa-minus"></i> 0.1
            </button>
        </div>
        <div class="col-4">
            <h1 class="display-4 text-center">{{ floatRound(runningSpeed) }} </h1>
        </div>
        <div class="col-2">
            <button class="btn btn-success btn-block btn-lg" v-on:click="increaseRunningSpeed(0.1)"><i
                    class="fas fa-plus"></i> 0.1
            </button>
        </div>
        <div class="col-2">
            <button class="btn btn-success btn-block btn-lg" v-on:click="increaseRunningSpeed(1)"><i
                    class="fas fa-plus"></i> 1
            </button>
        </div>
    </div>

    <audio autoplay preload="auto"
           v-playing="audioPlaying"
           v-playback-rate="computedPlaybackSpeed"
           v-bind:currentTime.prop="audioCurrentTime"
           v-on:loadedmetadata="updateAudioDuration"
           v-on:timeupdate="updateAudioCurrentTime" ref="audio">
        <source v-bind:src="audioSrc" type="audio/mpeg">
    </audio>
    <br>
    {{ secondsToString(audioCurrentTime) }} / {{ secondsToString(audioDuration) }} |
    bpm: {{ bpm }} | computedBpm: {{ floatRound(computedBpm) }} | playbackSpeed {{ computedPlaybackSpeed }}
</div>
{% endraw %}
<hr>
<div class="metronome" id="metronome-left"></div>
<div class="metronome flash-blue" id="metronome-right"></div>
